{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Beyond Logistics Events | Top Event Specialists in Quezon City, Philippines{% endblock %}</title>

    <meta name="description" content="Beyond Logistics Events: One of the best event specialists in the Philippines, located in Quezon City. We cater to birthdays, weddings, corporate events, and gatherings with expert planning and flawless execution.">
    <meta name="keywords" content="Beyond Logistics, event specialist Quezon City, event planning Philippines, weddings, birthdays, corporate events, event management Quezon City">


    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicons/favicon.png' %}">

    <!-- Apple Touch Icons -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/images/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

    <!-- External CSS Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
          integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <!-- AOS and Magnific Popup CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">

    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Header 
    {% include 'myApp/header.html' %}
    -->
    <!-- Main content -->
    <main>
        {% block content %}
        <!-- Default content will go here if not overridden -->
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'myApp/footer.html' %}

    <!-- External Scripts -->
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script src="https://unpkg.com/ityped@0.0.10"></script>

    <!-- Local Scripts -->
    <script src="{% static 'assets/js/animations.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.js' %}"></script>
    <script src="{% static 'assets/js/text-animations.js' %}"></script>
    <script src="{% static 'assets/js/carousel.js' %}"></script>
    <script src="{% static 'assets/js/type.js' %}"></script>
    <script src="{% static 'assets/js/custom-script.js' %}"></script>
    <script src="{% static 'assets/js/video-popup.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
